@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Human";
  src: url(/src/assets/Humane-SemiBold.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.active-body {
  overflow: hidden;
}

#root {
  isolation: isolate;
}

:root {
  --background: #0f172a;
  --secondary: #00d1ff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
}

.blocked {
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.burger {
  display: none;
}

.langage-selector {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: 30px;
  left: 30px;
  width: fit-content;
  z-index: 100;
}

.langage-selector p {
  font-family: "Roboto-mono", sans-serif;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.langage-selector p:hover {
  text-decoration: underline;
}

.langage-selector .active-FR {
  color: var(--secondary);
  text-decoration: underline;
}

.langage-selector .active-EN {
  color: var(--secondary);
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .langage-selector {
    z-index: 9;
  }
  .langage-selector {
    left: 90%;
    top: 40px;
  }
  header {
    left: 0;
  }
  .burger {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 35px;
    z-index: 5;
  }
}

@media (max-width: 767px) {
  .langage-selector {
    left: 80%;
    top: 40px;
  }
}
